.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 0 0;
}

.button {
  padding: 8px 16px;
  margin: 0;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  outline: 1px solid transparent;
  transition: all .3s ease;
}

.button__high {
  color: var(--circle-high-background);
  background-color: transparent;
  outline: 1px solid var(--circle-high-background);
}

.button__high__active {
  color: var(--primary-color);
  background-color: var(--circle-high-background);
}

.button__high:hover,
.button__high:active,
.button__high:focus {
  color: var(--primary-color);
  background-color: var(--circle-high-background);
}

.button__middle {
  color: var(--circle-middle-background);
  background-color: transparent;
  outline: 1px solid var(--circle-middle-background);
}

.button__middle__active {
  color: var(--primary-color);
  background-color: var(--circle-middle-background);
}

.button__middle:hover,
.button__middle:active,
.button__middle:focus {
  color: var(--primary-color);
  background-color: var(--circle-middle-background);
}

.button__low {
  color: var(--circle-low-background);
  background-color: transparent;
  outline: 1px solid var(--circle-low-background);
}

.button__low__active {
  color: var(--primary-color);
  background-color: var(--circle-low-background);
}

.button__low:hover,
.button__low:active,
.button__low:focus {
  color: var(--primary-color);
  background-color: var(--circle-low-background);
}

.address {
  display: flex;
  align-items: center;
  margin: 8px 0 0 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  font-weight: 350;
  line-height: 16px;
  color: var(--primary-color);
}
