.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: transparent;
  transition: background-color .3s ease;
  cursor: pointer;
}

.item:hover,
.item:active,
.item:focus {
  background-color: var(--item-hover-background);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0 0;
}

.circle__high svg circle {
  fill: var(--circle-high-background);
}

.circle__middle svg circle {
  fill: var(--circle-middle-background);
}

.circle__low svg circle {
  fill: var(--circle-low-background);
}

.address {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--primary-color);
}
