.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title__container {
  display: flex;
  padding: 0 16px;
}

.title {
  padding: 8px 16px;
  margin: 0;
  border-radius: 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--secondary-color);
}

.title__high {
  background-color: var(--list-title-high-background);
}

.title__middle {
  background-color: var(--list-title-middle-background);
}

.title__low {
  background-color: var(--list-title-low-background);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: transparent;
  transition: background-color .3s ease;
  cursor: pointer;
}

.item:hover,
.item:active,
.item:focus {
  background-color: var(--item-hover-background);
}

.circle {
  margin: 0 16px 0 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.circle__high {
  background-color: var(--circle-high-background);
}

.circle__middle {
  background-color: var(--circle-middle-background);
}

.circle__low {
  background-color: var(--circle-low-background);
}

.address {
  display: flex;
  align-items: center;
  max-width: 195px;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--primary-color);
}

.distance {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
  min-width: 40px;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--primary-color);
}
